.chef {
    background-color: #F3F7EA;
    padding: 100px 0;
    &__title {
        color: #474747;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 30px;
    }
    &__image {
        text-align: center;
        width: 398px;
        height: 396px;
        margin: 0 auto;
    }
    &__description {
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        width: 939px;
    }
}