.information {
    background-color: #262626;
    height: 692px;
    color: $secondary-color;
    padding: 100px 0;
    &__contact-us {
        font-size: 65px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 60px;
    }
    & a {
        color: $secondary-color;
        text-decoration: none;
    }
    &__description {
        color: #B1B1B1;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
        margin-bottom: 60px;
    }
}