.name {
    font-size: 85px;
    font-style: normal;
    max-width: 914px;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .name {
        font-size: 60px;
        max-width: 697px;
        margin-top: 183px;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 50px;
        width: 329px;
        margin-top: 183px;
        display: inline-block;
    }
}